*
{
 margin: 0px auto;
 padding: 0px;
}

html, body
{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #333;
}

li
{
 list-style-type: none;
}

a
{
 text-decoration: none;
}

.b-clear
{
 clear: both;
}

/*begin b-page*/
/*end b-page*/

.b-header__bg
{
 background: url(../i/bgtop.png) repeat-x;
 height: 584px;
 margin-bottom: -584px;
}

.b-page
{
 background: url(../i/bgbottom.png) 0 100% repeat-x;
 min-height: 100%;

}

.b-page__header
{
 height: 163px;
 padding-top: 15px;
 width: 980px;
 margin-bottom: 22px;
}

.b-contacts__logo
{
 float: left;
}

.b-contacts__logo-img
{
 background: url(../i/logo.png) no-repeat;
 display: block;
 height: 89px;
 float: left;
 margin-top: 10px;
 position: absolute;
 width: 300px;
 zoom: 1.2;
}

.b-contacts
{
 float: right;
 margin-right: 61px;
}

.b-contacts__phone
{
 font-size: 27px;
 line-height: 34px;
}

.b-contacts__phone-color
{
 color: #003366;
 font-weight: bold;
}

.b-contacts__worktime
{
 float: right;
}

.b-worktime__title
{
 margin: 10px 0px 14px -8px; 
}

.b-worktime__title-begin
{
 background: url(../i/headerleft.png) no-repeat;
 height: 30px;
 width: 4px;
 position: absolute;
}

.b-worktime__title-text
{
 text-transform: uppercase;
 background: #009999;
 font-size: 10px;
 font-weight: bold;
 color: #fff;
 width: 90px;
 margin-left: 4px;
 padding-left: 4px;
 line-height: 30px;
}

.b-worktime__title-end
{
 background: url(../i/headerright.png) no-repeat;
 height: 30px;
 width: 19px;
 position: absolute;
 margin-left: 98px;
}

.b-worktime__table
{
 line-height: 18px;
}

.b-worktime__table-day
{
 float: left;
 padding-right: 10px;
}

.b-worktime__table-day-item
{
 font-weight: bold;
}

.b-worktime__table-time
{
 float: left;
}

.b-contacts__map-link
{
 color: #003366;
}

.b-contacts__map-link:hover
{
 text-decoration: none;
}

.b-menu
{
 height: 30px;
 margin-top: 20px;
 float: left;
}

.b-menu__item
{
 float: left;
 position: relative;
}

.b-menu__item-link
{
 font-size: 12px;
 font-weight: bold;
 color: #13377d;
 line-height: 30px;
 margin: 10px 20px 0 0;
 text-transform: uppercase;
}


.b-menu__submenu-item
{
 position: relative;
}

.b-menu__submenu
{
 position: absolute;
 top: -99999px;
 opacity: 0;
 list-style: none;
 -webkit-transition: opacity .2s ease-in-out;
 transition: opacity .2s ease-in-out;
 width: 480px;
}

.b-menu__submenu-item-link
{
 float: left;
 padding: 0 5px;
 margin-top: -10px;
 font-style: italic;
 text-decoration: none;
 height: 25px;
 line-height: 25px;
 color: #003366;
}

.b-menu__item:hover .b-menu__submenu
{
 opacity: 1;
 top: 100%;
 text-decoration: underline;
 color: #333;
}

.b-menu__submenu-item-link:hover
{
 text-decoration: underline;
 color: #333;
}

.b-menu__item-link:hover
{
 text-decoration: underline;
}

.b-menu__search
{
 float: right;
 margin-top: 23px;
 width: 205px;
}

.b-search__form{
 width: 204px;
 height: 22px;
 border-radius: 15px;
 border: #c9c9c9 solid 1px;
 background: url(../i/searchBg.png) left top repeat-x;
 }

.b-search__form input{
 padding: 0;
 margin: 0;
 display: block;
 border: none;
 outline: none;
 background: none;
 width: 100%;
 height: 100%;
 }

.focus-active{
 border-color: #aaa !important;
 background: #fff !important;
 }

.b-search__form .b-search__form-actions{
 width: 28px;
 height: 22px;
 float: right;
 background: url(../i/searchIcon.png) 0px -3px no-repeat;
 }

.b-search__form .b-search__form-actions input:hover{
 cursor: pointer;
 }

.b-search__form .b-search__form-actions input{
 overflow: hidden;
 text-indent: -9999px;
 }

.b-search__form .b-search__form-item{
 width: 152px;
 padding: 2px 10px;
 float: left;
 height: 22px;
 }

.b-search__form .b-search__form-item input{
 font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #222;
 height: auto !important;
}

.placeholder
{
 color: #cbcbcb !important;
}

/*begin content*/

.b-page__content
{
 margin: 0 auto;
 width: 980px;
 height: 100%;
 display: block;
}

.b-page__slider
{
 height: 218px;
 margin-bottom: 18px;
 z-index: 1;
}

.b-slider__text
{
 height: 218px;
 width: 395px;
 position: absolute;
 z-index: 3;
}

.b-slider__text-title
{
 display: block;
 font-size: 12px;
 font-weight: bold;
 color: #fff;
 padding: 33px 155px 2px 50px;
 text-transform: uppercase;
}

.b-slider__text-title1
{
 padding-left: 77px !important; 
}

.b-slider__text-title2
{
 padding: 39px 71px 0px 114px !important;
}

.b-slider__trigger
{
 background: url(../i/header_left.png) no-repeat;
 width: 393px;
 position: absolute;
 z-index: 2;
 height: 218px;

}

.b-slider__img
{
 background: url(../i/slider.jpg) no-repeat;
 height: 218px;
 position: absolute;
 margin-left: 243px;
 border-radius: 14px;
 width: 737px; 
}

.b-page__middle
{
 float: left;
 width: 712px;
 margin-right: 30px;
}

.b-middle__title
{
 border-bottom: 1px solid #c0c0c0;
 font-size: 18px;
 color: #003366;
 margin: 8px 0 15px;
 padding-bottom: 24px;
 font-weight: bold;
}

.b-middle__text
{
 color: #333;
 line-height: 18px;
 margin-bottom: 10px;
}

.b-middle__text-bold
{
 font-weight: bold;
}

.b-middle__text-title
{
 font-weight: bold;
 text-align: center;
 margin-bottom: 20px;
}

.b-middle__text-item
{
 line-height: 17px;
 margin: 0 0 10px 20px;
}

.b-middle__text-link
{
 color: #003366;
}

.b-middle__text-info
{
 color: #003366;
 font-size: 14px;
 font-weight: bold;
 margin: 15px 0 10px;

}

.b-middle__text-head
{
 font-weight: bold;
 margin: 0 0 10px 15px;
 color: #003366;
}

.b-middle__text-description
{
 margin: 0 0 10px 15px;
}

.b-middle__text-list
{
 padding-left: 35px;
 line-height: 18px;
 list-style-image: url(../i/arrow.gif);
 margin-bottom: 10px;
}

.b-middle__img
{
 height: 300px;
 float: left;
 margin: 5px 30px 15px 0;
 width: 207px;
}

.b-middle__text-prices
{
 background: #003366;
 border-radius: 8px;
 font-weight: bold;
 color: #fff;
 padding: 5px 0 5px 30px;
}

.b-middle__prices
{
 margin: 10px 0 10px 20px;
 width: 100%;
}

.b-prices__table-number
{
 width: 20px;
}

.b-prices__table-pass
{
 width: 40px;
}

.b-prices__table-name
{
 width: 120px;
}

.b-prices__table-price
{
 width: 20px;
}

.b-middle__schedule
{
	line-height: 20px;
 margin: 5px 0 5px 0;
	text-align: center;
	width: 100%;
}

.b-page__sidebar
{
 float: left;
 width: 238px;
}

.b-sidebar__save
{
 height: 97px;
 margin-bottom: 30px;
}

.b-sidebar__save-begin
{
 background: url(../i/v1left.png) no-repeat;
 height: 97px;
 width: 10px;
 float: left;
 cursor: pointer;
}

.b-sidebar__save-end
{
 background: url(../i/v1right.png) no-repeat;
 height: 97px;
 width: 64px;
 float: left;
 cursor: pointer;
}

.b-sidebar__save-link
{
 background: #003366;
 float: left;
 font-size: 18px;
 color: #fff;
 height: 71px;
 padding: 13px 0 13px 7px;
 width: 157px;
 font-weight: bold;
}

.b-sidebar__links-title
{
 border-top: 3px solid #009999;
 border-bottom: 2px solid #e9e9e9;
 font-size: 16px;
 color: #003366;
 padding: 11px 15px 9px;
 text-transform: uppercase;
}
/*end content*/

/*begin footer*/

.b-page__footer
{
 float: left;
 width: 100%;
}

.b-footer__copyright
{
 background: #009999;
 border-radius: 7px;
 padding: 10px;
 color: #fff;
 margin: 20px 0 10px;
}

/*end footer*/
